
Projektas "Biudžetas"/I dalis/out/production/I dalis/Programa.class
*.class
Projektas "Biudžetas"/II dalis/out/production/II dalis/Readme.txt
Projektas "Biudžetas"/III dalis/.idea/misc.xml
Projektas "Biudžetas"/III dalis/.idea/modules.xml
Projektas "Biudžetas"/III dalis/.idea/vcs.xml
Projektas "Biudžetas"/III dalis/out/production/III dalis/Readme.txt
Projektas "Biudžetas"/IV dalis/.idea/misc.xml
Projektas "Biudžetas"/IV dalis/.idea/modules.xml
Projektas "Biudžetas"/IV dalis/.idea/vcs.xml
Projektas "Biudžetas"/IV dalis/out/production/IV dalis/Readme.txt
Projektas "Biudžetas"/IV dalis/out/production/IV dalis/test.csv
